body{
     font-size: 20px;
} 


.barChart div{
  font-size: 10px;
  text-align: right;
  padding: 4px;
  margin: 2px;
  color: white;
}

.button {
    background-color: blue;
    border-radius: 6px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}